@page "/contato"
<style>
    .btn-informacao {
        transition: 0.4s;
        border: 2px solid grey;
        
    }
        .btn-informacao:hover {
        transform: translateY(-3px);
     
    }
    
</style>
<div class="row mx-auto justify-content-center gap-4 w-75 py-4 " >
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    
</div>
<div class="row mx-auto justify-content-center gap-4 w-75 py-4 " >
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">  nm
        <h1>informacao</h1> 
j     </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    
</div>
<div class="row mx-auto justify-content-center gap-4 w-75 py-4 " >
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3" style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1>informacao</h1> 
    </div>
    
</div>



@code {

}
