@page "/contato"

@*parte do banner*@
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Img/Gemini_Generated_Image_k5yzt3k5yzt3k5yz.png" class="d-block w-100" alt="ERROR">
        </div>
    </div>
</div>
<div class="col-3 mx-auto d-flex justify-content-center align-items-center  gap-4 w-75 py-4 ">
    <h2 >Qual seria sua dúvida?</h2>
</div>
@*style do rol e col*@
<style>
    .btn-informacao {
        transition: 0.4s;
        border: 2px solid grey;
    }

        .btn-informacao:hover {
            transform: translateY(-3px);
        }
</style>
@*todos os botões da pagina.*@
<div class="row mx-auto justify-content-center gap-4 w-75 py-4 ">
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-lock-fill"></h1>
        <span class="fs-5">Segurança</span>
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-person-badge-fill"></h1>
        <span class="fs-5">Cadastro</span>
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-cash-coin"></h1>
        <span class="fs-5">Financiamento</span>
    </div>
</div>
<div class="row mx-auto justify-content-center gap-4 w-75 py-4 ">
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-safe2-fill"></h1>
        <span class="fs-5">Consórcio</span>
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-key-fill"></h1>
        <span class="fs-5">Comprar</span>
    </div>
    <div class="col-3 shadow-lg btn-informacao bg-transparent rounded-3 border rounded p-3 d-inline-block d-flex flex-column align-items-center justify-content-center " style=" color: var(--roxo);height: 28vh; width: 28vh;">
        <h1 class="bi bi-hand-thumbs-up-fill"></h1>
        <span class="fs-5">Politica e Privacidade</span>
    </div>
</div>



@code {

}
