@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<footer class="container py-5">

    <hr class="mb-5">

    <div class="row text-start">

        <div class="col-md-3 mb-4">
            <h5 class="fw-semibold mb-4">Institucional</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Sobre nós</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Quem somos</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Nossa história</a></li>
                <li><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Trabalhe conosco</a></li>
            </ul>
        </div>

        <div class="col-md-3 mb-4">
            <h5 class="fw-semibold mb-4">Serviços</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Lançamentos</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Venda</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Aluguel</a></li>
                <li><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Simulador de financiamento</a></li>
            </ul>
        </div>

        <div class="col-md-3 mb-4">
            <h5 class="fw-semibold mb-4">Atendimento</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Fale conosco</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Central de ajuda</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">WhatsApp</a></li>
                <li><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Agende uma visita</a></li>
            </ul>
        </div>

        <div class="col-md-3 mb-4">
            <h5 class="fw-semibold mb-4">Legal & Privacidade</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Política de Privacidade</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Política de Cookies</a></li>
                <li class="mb-2"><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">Termos de Uso</a></li>
                <li><a href="#" class="link-dark link-underline-opacity-25 link-underline-opacity-75-hover">LGPD</a></li>
            </ul>
        </div>

    </div>
</footer>



<div id="blazor-error-ui" data-nosnippet>
</div>
