<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-mobile-control" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-center w-100 gap-4">                
                <li class="nav-item dropdown">
                    <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comprar
                    </a>
                    <ul class="dropdown-menu text-center smooth-dropdown fs-6">                        
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-car fs-6"></i>Carros</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-motorcycle fs-5"></i>Moto</a></li>                        
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-bicycle fs-5"></i>Scooter</a></li>                      
                    </ul>

                </li>               
                <li class="nav-item dropdown">
                    <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vender
                    </a>
                    <ul class="dropdown-menu active">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alugar
                    </a>
                    <ul class="dropdown-menu active">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/trabalhe">Trabalhe com a gente</a>
                </li>
            </ul>
        </div>
    </div>
</nav>